* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(54, 85, 80);
    color: white;
    font-family: system-ui;
}

.crud {
    width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 30%;
    outline: none;
    border: none;
    background: black;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: white;
}

.price input {
    width: 20%;
}

#total {
    background: red;
    padding: 5px 2px;
    border-radius: 4px;
}

#total::before {
    content: 'Total:';
}

button {
    width: 100%;
    height: 30%;
    border: none;
    cursor: pointer;
    background: #310044;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

input:focus {
    background: black;
    transform: scale(1.1);
}

button:hover {
    background: #ad4ed3;
    letter-spacing: 1px;
}

.btnSearch {
    display: flex;
    justify-content: space-between;
}

.btnSearch button {
    width: 45%;
}

#deletAll {
    margin: 20px 0;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table th {
    text-transform: uppercase;
}

th,
td {
    padding: 5px;
}